body{
margin:0;
font-family:Inter;
background:#0f172a;
color:white;
}

.app{
display:flex;
min-height:100vh;
}

/* sidebar */
.sidebar{
width:240px;
background:#020617;
padding:20px;
display:flex;
flex-direction:column;
gap:20px;
}

.logo{
font-weight:800;
font-size:20px;
}

.stats div{
background:#0f172a;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}

.config-btn{
margin-top:auto;
background:none;
border:none;
color:white;
font-size:20px;
}

/* main */
.main{
flex:1;
padding:20px;
display:grid;
gap:20px;
}

/* cards */
.card{
background:#020617;
padding:20px;
border-radius:20px;
}

/* form */
.row{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-bottom:10px;
}

input,select{
padding:12px;
border-radius:10px;
border:none;
background:#0f172a;
color:white;
}

/* table items */
.items input{
width:100%;
}

.add{
margin:10px 0;
background:#22c55e;
}

.totales{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:10px;
}

.save{
background:#3b82f6;
margin-top:10px;
}

/* table */
table{
width:100%;
}

td,th{
padding:10px;
}

/* config */
.config{
position:fixed;
right:0;
top:0;
width:300px;
height:100%;
background:#020617;
padding:20px;
transform:translateX(100%);
transition:.3s;
}

.config.show{
transform:translateX(0);
}

/* MOBILE */
@media(max-width:900px){

.app{
flex-direction:column;
}

.sidebar{
width:100%;
flex-direction:row;
overflow-x:auto;
}

.main{
padding:10px;
}

.row{
grid-template-columns:1fr;
}

}
